@page
@model WebUI.Pages.AsignarProfesoresModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="../Cursos/Index">Hecho</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" name="plan" value="@Model.planFilter" />
            Legajo:
            <input type="text" name="id" value="@Model.idFilter" />
            Apellido:
            <input type="text" name="apellido" value="@Model.apelFilter" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Ver lista Completa</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Legajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].IdPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignacion.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Profesores != null)
        {
            @foreach (var item in Model.Profesores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Legajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Plan.Single(plan => plan.PlanId == item.Docente.IdPlan).Descripcion)
                    </td>
                    @if (item.Cargo == 1)
                    {
                        <td>
                            @Html.DisplayText("Teoria")
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayText("Practica")
                        </td>
                    }
                    <td>
                        <a asp-page="./DocentesCursos/Delete" asp-route-id="@item.Docente_CursoId">Eliminar</a>
                    </td>
                </tr>
            }
        } 
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Legajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].IdPlan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Persona)
        {
            @if ((Model.idFilter == 0 || (item.Legajo.ToString()).Contains(Model.idFilter.ToString())) && (Model.planFilter == 0 || item.IdPlan == Model.planFilter) && (Model.apelFilter == null || item.Apellido.ToLower().Contains(Model.apelFilter.ToLower())) && (Model.Profesores.Select(prof=> prof.IdDocente == item.Legajo).Count() == 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Legajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @if (item.IdPlan != 0)
                        {
                            @Html.DisplayFor(model => model.Plan.Single(plan => plan.PlanId == item.IdPlan).Descripcion)
                        }
                        else
                        {
                            @Html.Display("-")
                        }
                    </td>
                    <td>
                        <a asp-page="./DocentesCursos/Create" asp-route-idcurso="@Model.idCurso" asp-route-iddocente="@item.Legajo">Seleccionar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

