@page
@model WebUI.Pages.InscripcionAlumnoModel
@{
    ViewData["Title"] = "Inscripciones";
}

<h1>Index</h1>

<p>
    
</p>
<form asp-page="./InscripcionAlumno" method="get">
    <div class="form-actions no-color">
        <p>
            Nombre:
            <input type="text" name="filter" value="@Model.filterString" />
            <input type="hidden" name="id" value="@Model.idAlumno">
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./InscripcionAlumno" asp-route-id="@Model.idAlumno">Ver lista Completa</a>
        </p>
    </div>
</form>
<table class="table" style="max-width: 10%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Cupo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Curso)
        {

            @if ((Model.filterString == null || item.Nombre.Contains(Model.filterString)) && item.AñoCalendario == DateTime.Now.Year && item.Cupo > 0 && Model.idAlumno == item.Materia.IdPlan && !Model.Inscripciones.Any(ins => ins.IdCurso == item.CursoId))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materia.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comision.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cupo)
                    </td>
                    <td>
                        <a asp-page="/InscripcionAlumno" asp-route-id="@Model.idAlumno" asp-route-filter="@Model.filterString" asp-route-idcurso="@item.CursoId">Ver</a>
                    </td>
                </tr>
            }
            if(item.CursoId == Model.idCurso)
            {
                <div style="float:right">
                    <h4>Curso</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => item.Materia)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => item.Materia.Descripcion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => item.Comision)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => item.Comision.Descripcion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => item.Nombre)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => item.Nombre)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => item.Descripcion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => item.Descripcion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => item.Cupo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => item.Cupo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => item.AñoCalendario)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => item.AñoCalendario)
                        </dd>
                        <form method="post">
                            <input type="submit" value="Inscribirse" class="btn btn-primary" />
                        </form>
                    </dl>
                </div>
            }
        }
    </tbody>
</table>
