@page
@model WebUI.Pages.Materias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Nombre:
            <input type="text" name="filter" value="@Model.filterString" />
            <input type="hidden" name="id" value="@Model.idPlan">
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index" asp-route-id="@Model.idPlan">Ver lista Completa</a>
        </p>a asp-page="./Index">Ver lista Completa</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].HsSemanales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].HsTotales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Materia) {
            @if (Model.filterString == null || item.Descripcion.Contains(Model.filterString))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plan.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HsSemanales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HsTotales)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.MateriaId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.MateriaId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.MateriaId">Delete</a>
                    </td>
                </tr>
            }           
}
    </tbody>
</table>
