@page
@model WebUI.Pages.Comisiones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comision[0].Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision[0].Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comision) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ComisionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ComisionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ComisionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
