@page
@model WebUI.Pages.Inscripciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion[0].IdCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion[0].Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion[0].Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion[0].Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscripcion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InscripcionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InscripcionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InscripcionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
